@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.body{
    font-family: 'Neucha', cursive;
    font-size: 25px;
    background-color: #fffaf0;
}

.main{
    height: 600px;
    margin: 5%;
}

.page_top {
    height: 70px;
    background-color: orange;
    border-bottom: 1px solid #a5a5a5;
    color: white;
}
.title{
    position: absolute;
    left: 7%;
    font-size: 40px;
    color: white;
}
.right_part{
    font-size: 25px;
    margin-top: 5px;
    position: absolute;
    right: 7%;
}
.cornerbtn{
    margin-left: 15px;
}


h1{
    text-align: center;
}

.done{
    background-color: #ffdead;
}

h3{
    width: 100%;
    background-color: orange;
    color: white;
    font-size: 25px;
    padding: 10px;
    padding-right: 400px;
    border-radius: 2px;
}

.done{
    background-color: #ffdead;
}

block{
    display: none;
    background-color: #fff5ee;
    padding: 10px;
}

input{
    margin: 10px;
}

form{
    width: 90%;
}

.mml{
    margin-left: 15px;
}